@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@font-face{
	font-family: nido;
	src:url(../nido/nido.eot);
	src:url(../nido/nido.ttf);
}


*{
	margin: 0;
	padding: 0;
}
/*
=======================
     global css
=======================
*/

.container{width: 1100px;margin: auto;overflow: hidden;}

body{
	font-family: 'Open Sans', sans-serif;
}
strong{
    text-transform: uppercase;
    color: #6d65659e;
    font-weight: 400;
    font-size: 14px;
}
h1{
    text-transform: capitalize;
    color: #333333eb;
    font-size: 28px;
    margin: 12px 0;
}
p{
    color: #676565;
    margin-bottom: 12px;
}
img{
    width: 100%;
    transition-duration: 0.4s;
}
img:hover{
	opacity: 0.6;
}
/*
=======================
        header 
=======================
*/
header{
    padding: 30px 0;
}
.logo{
    width: 20%;
    float: left;
}
.logo a{}
.logo a img{}
nav{
    width: 80%;
    float: left;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    padding-left: 50px;
    padding-top: 5px;
}
nav ul li a:hover{
    opacity: 0.5;
    transition-duration: 0.4s;
}
  
/*
=======================
banner section 
=======================
*/
.banner-section{}
.banner-section img{}
 
/*
=======================
blog section
=======================
*/
.blog-section{}
.post-without-image{
    padding: 80px;
}
.post-without-image a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #6d65659e;
    text-decoration: none;
}
.post-padd{
    padding: 0 50px;
}
.post-with-image{
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
.article-padd{
	padding: 0 70px;
}
article{
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}
article h1{
	font-size: 20px;
}
article p{
	font-size: 14px;
}
/*
=======================
footer
=======================
*/
footer{
    background-color: #e8e4e4;
    padding: 50px 0;
}
.footer-menu{
    width: 50%;
    float: left;
}
.footer-menu ul{}
.footer-menu ul li{
    float: left;
    list-style: none;
}
.footer-menu ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding-right: 20px;
}
.footer-menu ul li a:hover{
    opacity: 0.5;
    transition-duration: 0.4s;
}

.social-link{
    width: 50%;
    float: left;
}
.social-link ul{
    text-align: right;
}
.social-link ul li{
    display: inline-block;
    list-style: none;
}
.social-link ul li a{
    color: #333;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    transition-duration: 0.4s;
}
.social-link ul li a:hover{
    color: #ffffffc7;
    background-color: #333;
}
